force-app/main/default/flows/Project_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Needed to assign LMP Monthly as record type for project update by determining month entered for report</description>
        <name>Assign_LMP_Monthly_Record_Type_Project_Update</name>
        <label>Assign LMP Monthly Record Type Project Update</label>
        <locationX>1106</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>txtprojectupdate_rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123i000000IIFVAA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrPrayerReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Needed to assign Project Update Record type when LTP is selected</description>
        <name>Assign_Project_Update_LTP_Record_Type</name>
        <label>Assign Project Update LTP Record Type</label>
        <locationX>578</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>txtprojectupdate_rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123i000000IIFaAAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCRN_Language_Translation_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Based on month entered we need to specifically assign the LMP record type (Monthly or Quarterly) as it is not assigned by default on selection via the flow</description>
        <name>Assign_Project_Update_Record_Type</name>
        <label>Assign Project Update Record Type Quarterly</label>
        <locationX>842</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>txtprojectupdate_rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123i000000IID5AAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR_LMP_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Variable_for_creating</name>
        <label>Assign Values to Variable for creating</label>
        <locationX>776</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecord.Reporting_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcsmonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcsUpdateStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcsUpdateStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Status_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtstatuscomment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Foreseeable_Challenges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Foreseeable_Challenges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtexpenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtFunding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Expected_Partner_Contribitions_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcsExpected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Partner_Contributions_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Partner_Contribution_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Bib_Reporting_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fiscal_Year_2_digit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Reported_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lst_Project_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Books_Currently_Working_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Book_s_Currently_Working_On</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Most_Recent_Book_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Most_Recent_Book_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Story_Update_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Story_Update_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Passage_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Passage_Sample_English</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Passage_Sample_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Passage_Sample_Local</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtprojectupdate_rt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Print_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num_Print_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.App_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_App_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Audio_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_Audio_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Device_Delivery_Audio_Video_Digital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_Device_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.ePub_PDF_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num_ePub_PDF_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Social_Media_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num_Social_Media_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Video_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_Video_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Web_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_Web_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Narrative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Narrative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Prayer_Requests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txt_Prayer_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Email_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice of LMP Record Type</description>
        <name>chlmp</name>
        <choiceText>LMP - Language Ministry Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0123i000000IC6JAAW</stringValue>
        </value>
    </choices>
    <choices>
        <description>Language Translation Plan</description>
        <name>chltp</name>
        <choiceText>LTP - Language Translation Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0123i000000IFmLAAW</stringValue>
        </value>
    </choices>
    <choices>
        <description>When the user is not sure will default to LMP</description>
        <name>chnotsure</name>
        <choiceText>Not Sure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0123i000000IC6JAAW</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check to see if it is quarterly to gather LMP Numbers</description>
        <name>Is_this_a_quarterly_report</name>
        <label>Is this a quarterly report?</label>
        <locationX>974</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Assign_LMP_Monthly_Record_Type_Project_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LMP Monthly</defaultConnectorLabel>
        <rules>
            <name>LMP_Quarterly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pcsmonths</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dec (Q1)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pcsmonths</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mar (Q2)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pcsmonths</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jun (Q3)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pcsmonths</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sep (Q4)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Update_Record_Type</targetReference>
            </connector>
            <label>LMP Quarterly</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need to add screens to capture LTP specific data</description>
        <name>LMP_or_LTP_Project_Which_Path</name>
        <label>LMP or LTP Project - Which Path?</label>
        <locationX>764</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_quarterly_report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Language Ministry Project</defaultConnectorLabel>
        <rules>
            <name>Language_Translation_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radiorecordtypeid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123i000000IFmLAAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Update_LTP_Record_Type</targetReference>
            </connector>
            <label>Language Translation Plan</label>
        </rules>
    </decisions>
    <description>This is the main screen flow to collect updates for projects</description>
    <dynamicChoiceSets>
        <name>ActiveProjects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Planning</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>radiorecordtypeid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>csregion</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>CurrentRecord.Project__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Region choice set</description>
        <name>csregion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsExpected</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Partner_Contribitions_Sales__c</picklistField>
        <picklistObject>Narrative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List of months of the year</description>
        <name>pcsmonths</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reporting_Month__c</picklistField>
        <picklistObject>Narrative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Fields from Reported Project Status</description>
        <name>pcsreportedprojectstatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reported_Project_Status__c</picklistField>
        <picklistObject>Narrative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Get the updated Status value from Project Update</description>
        <name>pcsUpdateStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Narrative__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Project Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow for inputting updates for projects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the project update from the screen flow interview</description>
        <name>Create_Project_Update_Record</name>
        <label>Create Project Update Record</label>
        <locationX>776</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>SCRN_Upload_Documentation</targetReference>
        </connector>
        <inputReference>CurrentRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_File_Upload_After_ID_Creation</name>
        <label>Update File Upload After ID Creation</label>
        <locationX>776</locationX>
        <locationY>2078</locationY>
        <inputReference>CurrentRecord</inputReference>
    </recordUpdates>
    <screens>
        <description>Review Data before saving it.</description>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>776</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Project_Update_Record</targetReference>
        </connector>
        <fields>
            <name>lblrheader</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rsec1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(7, 44, 163); font-size: 18px;&quot;&gt;PROJECT STATUS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Project Status:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Lst_Project_Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Status Comment:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!txtstatuscomment}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Foreseeable Challenges: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!txt_Foreseeable_Challenges}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reviewfinance</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Expenses:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!txtexpenses}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Funding:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!txtFunding}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Partner Expected Funding: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!pcsExpected}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioexpenses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lblexpectedexplaination</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Explanation of Expected Funding:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!txt_Partner_Contribution_Sales}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pcsExpected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayltp</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(7, 44, 163); font-size: 18px;&quot;&gt;LTP Specific Entries&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Book in Progress:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!txt_Book_s_Currently_Working_On}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Book Most Recently Completed:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!txt_Most_Recent_Book_Completed}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Sample Passage (Local): &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!txt_Passage_Sample_Local}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Sample Passage (English):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!txt_Passage_Sample_English}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radiorecordtypeid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chltp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaylmp</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(7, 44, 163);&quot;&gt;LMP STATISTICS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Print Delivery:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!num_Print_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Web Delivery:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!Num_Web_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Epub\PDF Deliver:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!num_ePub_PDF_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Social Media Delivery:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!num_Social_Media_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Audio Delivery: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Num_Audio_Delivery}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaylmp2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Device Delivery (Audio, Video, Digital)&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;: {!Num_Device_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Video Delivery:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Num_Video_Delivery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Email Delivery: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Num_email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;App Delivery: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Num_App_Delivery}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>radiorecordtypeid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chlmp</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pcsmonths</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Dec (Q1)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pcsmonths</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Mar (Q2)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pcsmonths</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Jun (Q3)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pcsmonths</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Sep (Q4)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaynar</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Explanation of Numbers or Testimony:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Narrative}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>radiorecordtypeid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chlmp</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayprayerrequest</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Prayer Request: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Txt_Prayer_Request}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If correct, please click next to proceed.  If edits need to be made please click previous until the needed screen is reached.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for Quarterly Number Reports</description>
        <name>SCR_LMP_Numbers</name>
        <label>LMP Numbers</label>
        <locationX>842</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrlmpNarrative</targetReference>
        </connector>
        <fields>
            <name>lblnumheader</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>num_Print_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Print Delivery -- # of people directly using those resources. It can be higher than your print number. Please use narrative section on the next screen to explain. Actual print distribution numbers are calculated within your project Resource Orders. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_Web_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Web Delivery -- # of unique users. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>num_ePub_PDF_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>ePub/PDF Delivery -- # of files/downloads/clicks. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>num_Social_Media_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Social Media Delivery -- # of post engagements. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_Audio_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Audio Delivery -- # of listeners. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_Device_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Device Delivery (Audio, Video, Digital) --# of people using devices. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_Video_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>Video Delivery -- # of views. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_email</name>
            <dataType>Number</dataType>
            <fieldText>Email Delivery -- # of opens/click through rate. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Num_App_Delivery</name>
            <dataType>Number</dataType>
            <fieldText>App Delivery -- # of downloads. Enter a 0 if N/A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrintro1</name>
        <label>Introduction - Project, Month and Year</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrregstatuscomment</targetReference>
        </connector>
        <fields>
            <name>scrintro</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Project Type: {!radiorecordtypeid}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Project Region: {!csregion}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please select your project - month and year of report&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lstProject</name>
            <choiceReferences>ActiveProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblnote_month</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(51, 51, 51); font-family: Lato, sans-serif; font-size: 12pt;&quot;&gt;NOTE:  &lt;/b&gt;&lt;span style=&quot;background-color: white; color: rgb(51, 51, 51); font-family: Lato, sans-serif; font-size: 12pt;&quot;&gt;Impact Numbers are only recorded on Quarterly Reports. If you have numbers to report please select a Quarterly Month – Dec, Mar, Jun, Oct&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lst_Report_Month</name>
            <choiceReferences>pcsmonths</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Report Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fiscal_Year_2_digit</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>22.0</numberValue>
            </defaultValue>
            <fieldText>Fiscal Year (2 digit)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LMP Narrative (different than LTP)</description>
        <name>scrlmpNarrative</name>
        <label>Narrative field for LMPs</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrPrayerReq</targetReference>
        </connector>
        <fields>
            <name>lblnarrativeheader</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Narrative</name>
            <fieldText>What is the context around these mobilization numbers? How and to whom were these resources deployed? Can you share a story or testimony of impact from a recipient of this resource? How has their life changed? How is the local church/partner using this resource?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen is used to specifically gather LTP Book Info</description>
        <name>SCRN_Language_Translation_Project</name>
        <label>LTP - Book Information</label>
        <locationX>578</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrnltpsamples</targetReference>
        </connector>
        <fields>
            <name>lblheadltp1</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_Most_Recent_Book_Completed</name>
            <fieldText>Most Recent Book Completed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txt_Book_s_Currently_Working_On</name>
            <fieldText>Book(s) Currently Working On?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRN_Upload_Documentation</name>
        <label>Upload Documentation</label>
        <locationX>776</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_File_Upload_After_ID_Creation</targetReference>
        </connector>
        <fields>
            <name>SCRN_Upload_Documentation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRN_Upload_Documentation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lblsuccess</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Your record has been saved!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload any supporting documentation: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>updocuments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Supporting Documentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .docx, .png, .jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CurrentRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrnltpsamples</name>
        <label>LTP -Samples</label>
        <locationX>578</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrPrayerReq</targetReference>
        </connector>
        <fields>
            <name>lblltphead2</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_Story_Update_Notes</name>
            <fieldText>What is something significant about this translation happened recently, give context to your activities…I live in…, I’ve been working on this team…on this project since.., this translation is needed why…) Can do written/video interviews but add link.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txt_Passage_Sample_Local</name>
            <fieldText>Passage Sample (Local)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txt_Passage_Sample_English</name>
            <fieldText>Passage Sample (English)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrPrayerReq</name>
        <label>Prayer Requests</label>
        <locationX>776</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Variable_for_creating</targetReference>
        </connector>
        <fields>
            <name>lblprayerheader</name>
            <fieldText>&lt;p&gt;{!lbl_header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Txt_Prayer_Request</name>
            <fieldText>Prayer Requests:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Which record type is being inputed</description>
        <name>scrrecordtype</name>
        <label>Record Type Selection</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrintro1</targetReference>
        </connector>
        <fields>
            <name>scrrecordtype_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrrecordtype_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lstRegion</name>
                    <choiceReferences>csregion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>radiorecordtypeid</name>
            <choiceReferences>chlmp</choiceReferences>
            <choiceReferences>chltp</choiceReferences>
            <choiceReferences>chnotsure</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chlmp</defaultSelectedChoiceReference>
            <fieldText>Select Project Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Status Comment for non-quarterly update</description>
        <name>scrregstatuscomment</name>
        <label>Project Status Screen</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrtopendupdate</targetReference>
        </connector>
        <fields>
            <name>scrregstatuscomment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrregstatuscomment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sectmonthyear</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px; color: rgb(34, 76, 215);&quot;&gt;Project: {!lstProject}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Region: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!lstRegion}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Report Month: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!pcsmonths} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Fiscal Year: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Fiscal_Year_2_digit} (2 digit year)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lst_Project_Status</name>
            <choiceReferences>pcsreportedprojectstatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reported Project Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtstatuscomment</name>
            <fieldText>If the project is on hold or stopped, why?  What is the plan for resuming\ending\revising the project?  If progressing, what has been done over the last month?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkchallenge</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Are there any foreseeable challenges with this project?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_Foreseeable_Challenges</name>
            <defaultValue>
                <stringValue> </stringValue>
            </defaultValue>
            <fieldText>Please detail the foreseeable challenges</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkchallenge</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;test help text&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The final few fields in the top section of the update</description>
        <name>scrtopendupdate</name>
        <label>Project Expense Screen</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LMP_or_LTP_Project_Which_Path</targetReference>
        </connector>
        <fields>
            <name>lbl_header</name>
            <fieldText>&lt;p&gt;{!sectmonthyear}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioexpenses</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you have any Expenses, funding or Sales to Report on?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtexpenses</name>
            <defaultValue>
                <stringValue> </stringValue>
            </defaultValue>
            <fieldText>Have you spent any money on this project this month? If so, please enter the amount here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioexpenses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtFunding</name>
            <defaultValue>
                <stringValue> </stringValue>
            </defaultValue>
            <fieldText>If more or full funding for this project were immediately available, could you expedite this project forward?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioexpenses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pcsexpartner</name>
            <choiceReferences>pcsExpected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any partner contributions or sales expected with this project?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioexpenses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Partner_Contribution_Sales</name>
            <dataType>String</dataType>
            <fieldText>If Yes, when and how much?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioexpenses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pcsexpartner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>scrrecordtype</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Narrative__c</objectType>
    </variables>
    <variables>
        <name>txtprojectupdate_rt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varmonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the record type of project (LMP, LTP etc)</description>
        <name>VarRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
